@import "tailwindcss";

@theme {
  --spacing: 4px;

  --font-body: var(--font-inter), sans-serif;
  --font-heading: var(--font-overpass), sans-serif;

  --text-primary: #171717;
  --text-secondary: #666666;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #171717;
  --text-secondary: #666666;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

@utility text-secondary {
  color: var(--text-secondary);
}
